<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
	<title>Board Register</title>
</head>

<div layout:fragment="content">
	<div class="row mt-3">
		<div class="col">
			<div class="card">
				<div class="card-header">
					Board Register
				</div>
				<div class="card-body">
					<form action="/board/register" method="post">
						<div class="input-group mb-3">
							<span class="input-group-text">Title</span>
							<input type="text" name="title" 
							class="form-control" placeholder="Title"/>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Content</span>
							<textarea name="content" rows="5" 
							class="form-control col-sm-5"></textarea>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Writer</span>
							<input type="text" name="writer" th:value="${#authentication.principal.username}"
							class="form-control" placeholder="Writer" readonly/>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Images</span>
							<div class="float-end uploadHidden">
								<button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
							</div>
						</div>
						<div class="my-4">
							<div class="float-end">
								<button type="submit" class="btn btn-primary submitBtn">Submit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</div>
					</form>
				</div> <!-- end card body -->
			</div> <!-- end card -->
		</div> <!-- end col -->
	</div> <!-- end row -->
	
	<!-- 첨부파일 섬네일 보여주는 영역 -->
	<div class="row mt-3">
		<div class="col">
			<div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
				<!-- 업로드된 결과를 부트스트랩 card로 만들자 -->

			</div>
		</div>
	</div>
	
	<!-- 첨부파일 추가를 위한 모달창 -->
	<div class="modal uploadModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Upload File</h5>
					<button type="button" class="btn-close" 
					data-bs-dismiss="modal" aria-label="Close"></button><!-- X자 표시버튼 -->
				</div>
				<div class="modal-body">
					<div class="input-group mb-3">
						<input type="file" name="files" class="form-control" multiple/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary uploadBtn">Upload</button>
					<button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
				</div>
			</div> <!-- end modal-content -->
		</div>
	</div> <!-- register modal -->
	
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/upload.js"></script>   
</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">
	/* 인증 정보 */
	const auth = [[${#authentication}]];
	const errors = [[${errors}]];
	console.log(auth);
	console.log(errors);
	
	let errorMsg = '';
	if(errors){
		for(let i=0; i< errors.length; i++){
			errorMsg += `${errors[i].field}은(는) ${errors[i].code}\n`;
		}
		alert(errorMsg);
	}
	
	/* ADD Files버튼 누를 때, Modal창 보이는 이벤트 추가 */
	const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"));
	document.querySelector(".uploadFileBtn").addEventListener("click",function(e){
		e.stopPropagation();
		e.preventDefault();
		uploadModal.show();
	},false);
	
	/* Modal창에서 Upload버튼 클릭 */
	document.querySelector(".uploadBtn").addEventListener("click",function(e){
		const formObj = new FormData();
		const fileInput = document.querySelector("input[name='files']");
		console.log(fileInput.files);
		const files = fileInput.files;
		for(let i=0;i<files.length; i++){
			formObj.append("files",files[i]);
		}
		//axios요청
		uploadToServer(formObj).then(result => {
			console.log(result); //[{…}, {…}]
			//0 : {uuid: '5b5d0e05-93fd-4cf1-97c9-48fd0ba35e7a', fileName: 'vue질문1.png', img: true, link: 's_5b5d0e05-93fd-4cf1-97c9-48fd0ba35e7a_vue질문1.png'}
			//showUploadFile()메서드를 통해, 업로드된 파일 결과 호출
			for(const uploadResult of result){
				showUploadFile(uploadResult);
			}
			uploadModal.hide();
		}).catch(e => {
			uploadModal.hide();			
		});
	});
	
	/*업로드된 파일 결과를 보여주는 showUploadFile({JSON})함수 */
	const uploadResult = document.querySelector(".uploadResult");
	function showUploadFile({uuid,fileName,link}){
		const str  = `<div class="card col-4">
			<div class="card-header d-flex justify-content-center">
				${fileName}
			<button class="btn-sm btn-danger" 
				onclick="javascript:removeFile('${uuid}','${fileName}',this)">X</button>
			</div>
			<div class="card-body">
				<img src="/view/${link}" data-src="${uuid+"_"+fileName}">
			</div>
		</div> <!-- end card -->`;
		uploadResult.innerHTML += str;
	}
	
	/* 첨부파일 삭제 => 서버에서도 삭제,화면에서도 삭제 */
	function removeFile(uuid,fileName,obj){
		console.log(uuid);
		console.log(fileName);
		/*궁금했던 this의 정체..<button class="btn-sm btn-danger" 
		onclick="javascript:removeFile('22b68f33-93d0-4589-a64e-ec98ebd35c42','vue질문1.png',this)">X</button>*/
		console.log(obj);
		
		const targetDiv = obj.closest(".card"); //썸네일을 감싸는 card를 찾는다.
		removeFileToServer(uuid,fileName)
			.then(data => {
				targetDiv.remove();
			});
	}
	
	/* 게시물 등록 버튼 클릭 시, 업로드 된 파일들의 정보를 <form>태그에 추가하여
	submit()하도록 한다. */
	document.querySelector(".submitBtn").addEventListener("click",function(e){
		e.preventDefault();
		e.stopPropagation();
		
		const target = document.querySelector(".uploadHidden");
		const uploadFiles = uploadResult.querySelectorAll("img");
		//console.log(uploadFiles);//NodeList(2) [img, img]
		let str = '';
		for(let i=0; i< uploadFiles.length; i++){
			const uploadFile = uploadFiles[i];
			const imgLink = uploadFile.getAttribute("data-src");
			// src 속성에 오류가 있넹.. 
			//src : "http://localhost:8085/view/s_12cc51dd-34cc-481f-91c3-24ab170b587b_doit%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.jpg"
			//<form>태그에, input값 추가해주기
			str += `<input type='hidden' name='fileNames' value="${imgLink}">`;
		}
		target.innerHTML = str;
		document.querySelector("form").submit();
	});
</script>